html, body {
  height: 100%;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto 1fr minmax(60px, max-content);
  grid-template-areas: "header" "main" "footer";
}

.main-wrapper > header {
  grid-area: header;
}

.main-wrapper > main {
  grid-area: main;
}
  .main-wrapper > main > * {
    padding: 15px 0;
  }

.main-wrapper > footer {
  grid-area: footer;
}

.auth-bg {
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-wrapper {
  position: relative;
  width: 18rem;
}

.auth-title {
  font-size: 2.5rem;
  position: absolute;
  top: -61px;
  left: 0;
  right: 0;
  text-align: center;
}

/* GENERAL */

.footer {
  background: #424649;
  color: #ffffff;
  font-size: 0.8em;
  padding: 1em;
  min-height: 1em;
}

.footer a {
  color: #feb672;
}

.message-container {
  position: relative;
}
  .message-container .message-indicator {
    height: 10px;
    width: 10px;
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 50%;
  }

.table-match {
  table-layout: fixed;
}

  .table-match-scores {
    width: 160px;
    vertical-align: middle;
    padding: 0;
  }